.prof-main {
  margin: 32px;
}

.prof-heading {
  padding-bottom: 28px;
  font-size: xx-large;
}

.prof-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 10px;
}

.prof-name {
  display: flex;
  gap: 10px;
}

.prof-name-field {
  width: 50%;
}

.prof-btn-group {
  display: flex;
  justify-content: flex-end;
  margin-top:18px;
  gap: 10px;
}